.menu {
    list-style: none;
    position: center;
    padding: 0;
    width: 200px;
    margin: 0;
}

.menu li {
    padding: 10px 15px;
    background-color: #89bed3;
    border-bottom: 1px solid #2a96c9;
    cursor: pointer;
}

.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.submenu li {
    padding: 10px 15px;
    background-color: #2a96c9;
    border-bottom: 1px solid #115f83;
    cursor: pointer;
}

.show {
    display: block;
}


